/* Styles for author box template */
.author-box-wrapper {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 20px;
    margin: 16px 0;
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    line-height: 1.2;
}
.author-box-wrapper::after, .social-buttons::after {
    content: "";
    clear: both;
    display: table;
}
.author-box-wrapper img {
    float: left;
    width: 90px;
    height: auto;
    box-sizing: border-box;
    margin: 0 15px 10px 0;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
}
.author-box-wrapper .author-name {
    display: inline-block;
    margin: 3px auto 10px;
    font-size: 24px;
}
.author-box-wrapper .social-buttons {
    display: block;
    margin: 0 auto;
}
.author-box-wrapper .social-buttons a {
    text-decoration: none;
    float: left;
    margin: 0 10px 10px 0;
    padding: 8px 15px;
    background: #ddd;
    border: 1px solid #aaa;
    border-radius: 5px;
    text-align: center;
}
.author-box-wrapper .social-buttons a:hover,
.author-box-wrapper .social-buttons a:active,
.author-box-wrapper .social-buttons a:focus {
    color: #fff !important;
    text-decoration: none !important;
}
.author-box-wrapper .social-buttons a.btn-facebook:hover {
    background: #4267B2;
}
.author-box-wrapper .social-buttons a.btn-twitter:hover {
    background: #1DA1F2;
}
.author-box-wrapper .social-buttons a.btn-linkedin:hover {
    background: #0072B1;
}
.author-box-wrapper .author-bio {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
}
/* Responsive styles for author box template */
@media (max-width: 640px) {
    .author-box-wrapper .author-name {
        margin: 0 auto 20px;
        text-align: center;
        width: 100%;
   }
    .author-box-wrapper img {
        width: 100%;
        margin: 0 auto 20px;
   }
    .author-box-wrapper .social-buttons a {
        width: 100%;
        display: block;
        margin: 0 auto 10px;
   }
}
